@model XPPROJECT3.materias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>materias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamentos.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamentos.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidades.NombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidades.NombreEspecialidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMateria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
