@model XPPROJECT3.clase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>clase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materias.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profesoress.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profesoress.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
