@model XPPROJECT3.estudiantes

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información del estudiante</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelularE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelularE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoEstudiante)
        </dd>

    </dl>
</div>
<br />
<p>
    <a href="@Url.Action("Edit", new { id = Model.cedula })" class="btn btn-success" >
        Editar
    </a>
    <style>
        .btn {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            color: white;
        }

        .btn-primary {
            background-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
    </style>


    <br />
    <br />
    @Html.ActionLink("Regresar", "Index", null, new { @class = "custom-link" })

    <style>
        .custom-link {
            color: black; /* Cambia el color del texto a negro */
            text-decoration: none; /* Elimina el subrayado */
        }

            .custom-link:hover {
                color: gray;
            }
    </style>
</p>
