@model XPPROJECT3.estudiantes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>estudiantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelularE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelularE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido2_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido2_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo_Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo_Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidades.NombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidades.NombreEspecialidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
