@model IEnumerable<XPPROJECT3.estudiantes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listas de Clase</h2>

<p>
    <a href="@Url.Action("Create", "Estudiantes")" title="Añadir Estudiante">
        <img src="~/Scripts/Image/add.png" alt="Añadir Estudiante" style="width:24px; height:24px;" />
        
    </a>
</p>


<!-- Campo de búsqueda -->
<div>
    <input type="text" id="searchInput" placeholder="Buscar por nombre, apellido, cédula, etc." onkeyup="filterTable()" />
    <button class="btn btn-primary">Buscar</button>
</div>

<form method="post" action="@Url.Action("SubmitAttendance", "Estudiantes")">
    <table class="table" id="studentsTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.cedula)</th>
                <th>@Html.DisplayNameFor(model => model.nombre)</th>
                <th>@Html.DisplayNameFor(model => model.primer_apellido)</th>
                <th>@Html.DisplayNameFor(model => model.segundo_apellido)</th>
                <th>@Html.DisplayNameFor(model => model.Numero_Encargado)</th>
                <th>@Html.DisplayNameFor(model => model.tipoEstudiante)</th>
                <th>Presente</th>
                <th>Ausente</th>
                <th>Fuga</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.cedula)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.primer_apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.segundo_apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Numero_Encargado)</td>
                    <td>@Html.DisplayFor(modelItem => item.tipoEstudiante)</td>

                    <td>
                        <label>
                            <input type="checkbox" name="presente_@item.cedula" /> Presente
                        </label>
                        <input type="text" name="lecciones_presente_@item.cedula" placeholder="Lecciones" style="width: 50px;" />
                    </td>

                    <td>
                        <label>
                            <input type="checkbox" name="ausente_@item.cedula" /> Ausente
                        </label>
                        <input type="text" name="lecciones_ausente_@item.cedula" placeholder="Lecciones" style="width: 50px;" />
                    </td>

                    <td>
                        <label>
                            <input type="checkbox" name="fuga_@item.cedula" /> Fuga
                        </label>
                        <input type="text" name="lecciones_fuga_@item.cedula" placeholder="Lecciones" style="width: 50px;" />
                    </td>

                    <td>
                        <a href="@Url.Action("Edit", "Estudiantes", new { id = item.cedula })" title="Editar">
                            <img src="~/Scripts/Image/edit.png" alt="Editar" style="width:20px; height:20px;" />
                        </a>

                        <a href="@Url.Action("Details", "Estudiantes", new { id = item.cedula })" title="Detalles">
                            <img src="~/Scripts/Image/info.png" alt="Detalles" style="width:20px; height:20px;" />
                        </a>

                        <a href="@Url.Action("Delete", "Estudiantes", new { id = item.cedula })" title="Eliminar">
                            <img src="~/Scripts/Image/delete.png" alt="Eliminar" style="width:20px; height:20px;" />

                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Enviar Resultados</button>
</form>

<script>
    function filterTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("studentsTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";  
                        break;
                    }
                }
            }
        }
    }
</script>
