@model IEnumerable<XPPROJECT3.estudiantes>

@{
    ViewBag.Title = "Listas de clase";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchQuery = Request.QueryString["searchQuery"];
    var filteredModel = string.IsNullOrEmpty(searchQuery) ? Model : Model.Where(e =>
        e.nombre.Contains(searchQuery) ||
        e.primer_apellido.Contains(searchQuery) ||
        e.segundo_apellido.Contains(searchQuery) ||
        e.cedula.ToString().Contains(searchQuery) ||
        e.cedula.ToString().Contains(searchQuery)
    );
}

<h2>Listas de clase</h2>

<a href="@Url.Action("Create", "Estudiantes")" title="Añadir Estudiante">
    <img src="~/Scripts/Image/add.png" alt="Añadir Estudiante" style="width:24px; height:24px;" />
</a>

<br />
<br />

<form method="get">
    <input type="text" name="searchQuery" value="@searchQuery" placeholder="Buscar estudiantes..." />
    <button type="submit" class="btn" style="background-color: #8abbc8; color: white">Buscar</button>
</form>

<form method="post">
    <table class="table">
        <tr>
            <th> @Html.DisplayNameFor(model => model.nombre) </th>
            <th> @Html.DisplayNameFor(model => model.primer_apellido) </th>
            <th> @Html.DisplayNameFor(model => model.segundo_apellido) </th>
            <th> @Html.DisplayNameFor(model => model.especialidad) </th>
            <th> @Html.DisplayNameFor(model => model.cedula) </th>
            <th> @Html.DisplayNameFor(model => model.Numero_Encargado) </th>
            <th> @Html.DisplayNameFor(model => model.tipoEstudiante) </th>
            <th> Asistencia y Lecciones </th>
            <th></th>
        </tr>

        @foreach (var item in filteredModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                    <div>
                        <!-- Radio Buttons for Attendance -->
                        <label>
                            <input type="radio" name="attendance[@item.cedula].estado" value="Presente" /> Presente
                        </label><br />
                        <label>
                            <input type="radio" name="attendance[@item.cedula].estado" value="Ausente" /> Ausente
                        </label><br />
                        <label>
                            <input type="radio" name="attendance[@item.cedula].estado" value="Fuga" /> Fuga
                        </label>
                    </div>
                </td>
                <td> @Html.DisplayFor(modelItem => item.primer_apellido) </td>
                <td> @Html.DisplayFor(modelItem => item.segundo_apellido) </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especialidad)
                    @{
                        int? especialidadId = item.especialidad; // Asumiendo que especialidad es un int o nullable int
                        string mensaje = string.Empty;

                        if (especialidadId.HasValue) // Verifica si hay una especialidad asignada
                        {
                            switch (especialidadId)
                            {
                                // Especialidades específicas
                                case 1:
                                    mensaje = "Accounting";
                                    break;
                                case 2:
                                    mensaje = "Administración y operación aduanera";
                                    break;
                                case 3:
                                    mensaje = "Contabilidad y auditoría";
                                    break;
                                case 4:
                                    mensaje = "Configuración y soporte a redes";
                                    break;
                                case 5:
                                    mensaje = "Contabilidad";
                                    break;
                                case 6:
                                    mensaje = "Contabilidad y control interno";
                                    break;
                                case 7:
                                    mensaje = " Contabilidad y finanzas";
                                    break;
                                case 8:
                                    mensaje = " Ciberseguridad";
                                    break;
                                case 9:
                                    mensaje = " Desarrollo Web";
                                    break;
                                case 10:
                                    mensaje = " Dibujo Técnico";
                                    break;
                                case 11:
                                    mensaje = " Dibujo y modelado de edificaciones";
                                    break;
                                case 12:
                                    mensaje = " Ejecutivo comercial y de servicio al cliente";
                                    break;
                                case 13:
                                    mensaje = "Informática de desarrollo de software";
                                    break;
                                case 14:
                                    mensaje = "Inteligencia Artificial";
                                    break;
                                case 15:
                                    mensaje = "Secretariado ejecutivo";
                                    break;
                                case 16:
                                    mensaje = "Desarrollo de Aplicaciones Móviles";
                                    break;
                                default:
                                    mensaje = "Otra especialidad";
                                    break;
                            }
                        }
                    }
                    @if (!string.IsNullOrEmpty(mensaje))
                    {
                        <span> - @mensaje</span>
                    }


                    @*
        --1. Accounting
        --2. Administracion y operación aduanera
        --3. Configuracion y soporte a redes
        --4. Contabilidad
        --5. Contabilidad y control interno
        --6. Contabilidad y finanzas
        --7. Ciberseguridad
        --8. Desarrollo Web
        --9. Dibujo Tecnico
        --10. Dibujo y modelado de edificaciones
        --11. Ejecutivo comercial y de servicio al cliente
        --12. Informatica de desarrollo de software
        --13. Inteligencia Artificial
        --14. Secretariado ejecutivo

                    *@

                </td>
                <td> @Html.DisplayFor(modelItem => item.cedula) </td>
                <td> @Html.DisplayFor(modelItem => item.Numero_Encargado) </td>
                <td> @Html.DisplayFor(modelItem => item.tipoEstudiante) </td>

                <!-- Textbox for Number of Lessons -->
                <td>
                    <input type="number" name="attendance[@item.cedula].numeroLecciones" min="0" max="12" placeholder="Número de lecciones" />
                </td>

                <td>
                    <a href="@Url.Action("Edit", new { id = item.cedula })" class="edit-link" title="Editar">
                        <img src="~/Scripts/Image/edit.png" alt="Edit" />
                    </a>
                    |
                    <a href="@Url.Action("Details", new { id = item.cedula })" class="details-link" title="Detalles">
                        <img src="~/Scripts/Image/info.png" alt="Details" />
                    </a>
                    |
                    <a href="@Url.Action("Delete", new { id = item.cedula })" class="delete-link" title="Eliminar">
                        <img src="~/Scripts/Image/delete.png" alt="Delete" />
                    </a>
                </td>

                <style>
                    .edit-link img,
                    .details-link img,
                    .delete-link img {
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }

                    .edit-link, .details-link, .delete-link {
                        text-decoration: none;
                    }
                </style>
            </tr>
        }
    </table>
    <button type="submit" class="btn" style="background-color: #8abbc8; color: white">Guardar Cambios</button>
</form>
