@model IEnumerable<XPPROJECT3.estudiantes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- Campo de búsqueda -->
<div>
    <input type="text" id="searchInput" placeholder="Buscar por nombre, primer apellido o segundo apellido" />
    <button onclick="filterStudents()">Buscar</button>
</div>

<table class="table" id="studentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primer_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.segundo_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidad)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Encargado)
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoEstudiante)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primer_apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundo_apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especialidad)
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Encargado)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoEstudiante)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.cedula }) |
                    @Html.ActionLink("Details", "Details", new { id = item.cedula }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.cedula })
                </td>
            </tr>
            <tr>
                <td colspan="13">
                    <div>
                        <label>Presente</label>
                        <style>
                            .dropdown {
                                position: relative;
                                display: inline-block;
                            }

                            .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: #f9f9f9;
                                min-width: 160px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                padding: 12px 16px;
                                z-index: 1;
                            }

                            .dropdown:hover .dropdown-content {
                                display: block;
                            }
                        </style>

                        <div class="dropdown">
                            <span>
                                <label class="container">
                                    <input type="checkbox" />
                                    <div class="checkmark"></div>
                                </label>
                            </span>
                            <div class="dropdown-content">
                                <p>
                                    Escriba el número de lecciones
                                    <textarea id="TextArea" rows="2" cols="20" style="color:seagreen"></textarea>
                                    <button type="submit" class="btn btn-success">Enviar</button>
                                    <script>
                                        document.getElementById("TextArea").addEventListener("keypress", function (e) {
                                            var keyCode = e.which || e.keyCode;
                                            if (keyCode < 48 || keyCode > 57) {
                                                e.preventDefault();
                                            }
                                        });
                                    </script>
                                </p>
                            </div>
                        </div>
                        <div>
                            <label>Ausente</label>
                            <style>
                                .dropdown {
                                    position: relative;
                                    display: inline-block;
                                }

                                .dropdown-content {
                                    display: none;
                                    position: absolute;
                                    background-color: #f9f9f9;
                                    min-width: 160px;
                                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                    padding: 12px 16px;
                                    z-index: 1;
                                }

                                .dropdown:hover .dropdown-content {
                                    display: block;
                                }
                            </style>

                            <div class="dropdown">
                                <span>
                                    <label class="container">
                                        <input type="checkbox" />
                                        <div class="checkmark"></div>
                                    </label>
                                </span>
                                <div class="dropdown-content">
                                    <p>
                                        Escriba el número de lecciones
                                        <textarea id="TextArea" rows="2" cols="20" style="color:seagreen"></textarea>
                                        <button type="submit" class="btn btn-success">Enviar</button>
                                        <script>
                                            document.getElementById("TextArea").addEventListener("keypress", function (e) {
                                                var keyCode = e.which || e.keyCode;
                                                if (keyCode < 48 || keyCode > 57) {
                                                    e.preventDefault();
                                                }
                                            });
                                        </script>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <label>Fugas</label>
                                <style>
                                    .dropdown {
                                        position: relative;
                                        display: inline-block;
                                    }

                                    .dropdown-content {
                                        display: none;
                                        position: absolute;
                                        background-color: #f9f9f9;
                                        min-width: 160px;
                                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                        padding: 12px 16px;
                                        z-index: 1;
                                    }

                                    .dropdown:hover .dropdown-content {
                                        display: block;
                                    }
                                </style>

                                <div class="dropdown">
                                    <span>
                                        <label class="container">
                                            <input type="checkbox" />
                                            <div class="checkmark"></div>
                                        </label>
                                    </span>
                                    <div class="dropdown-content">
                                        <p>
                                            Escriba el número de lecciones
                                            <textarea id="TextArea" rows="2" cols="20" style="color:seagreen"></textarea>
                                            <button type="submit" class="btn btn-success">Enviar</button>
                                            <script>
                                                document.getElementById("TextArea").addEventListener("keypress", function (e) {
                                                    var keyCode = e.which || e.keyCode;
                                                    if (keyCode < 48 || keyCode > 57) {
                                                        e.preventDefault();
                                                    }
                                                });
                                            </script>
                                        </p>
                                    </div>
                                </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function hideOffcanvas() {
        document.getElementById("offcanvas").classList.remove("show");
        document.getElementById("offcanvas").setAttribute("aria-hidden", "true");
    }

    function filterStudents() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("studentsTable");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>
