@model IEnumerable<XPPROJECT3.estudiantes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="post" action="@Url.Action("SubmitAttendance", "estudiantes")">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.cedula)</th>
                <th>@Html.DisplayNameFor(model => model.nombre)</th>
                <th>@Html.DisplayNameFor(model => model.primer_apellido)</th>
                <th>@Html.DisplayNameFor(model => model.segundo_apellido)</th>
                <th>@Html.DisplayNameFor(model => model.Numero_Encargado)</th>
                <th>@Html.DisplayNameFor(model => model.tipoEstudiante)</th>
                <th>Presente</th>
                <th>Ausente</th>
                <th>Fuga</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.cedula)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.primer_apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.segundo_apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Numero_Encargado)</td>
                    <td>@Html.DisplayFor(modelItem => item.tipoEstudiante)</td>

                    <!-- Checkbox para Presente -->
                    <td>
                        <label>
                            <input type="checkbox" name="presente_@item.cedula" /> Presente
                        </label>
                        <input type="text" name="lecciones_presente_@item.cedula" placeholder="Lecciones" style="width: 50px;" />
                    </td>

                    <!-- Checkbox para Ausente -->
                    <td>
                        <label>
                            <input type="checkbox" name="ausente_@item.cedula" /> Ausente
                        </label>
                        <input type="text" name="lecciones_ausente_@item.cedula" placeholder="Lecciones" style="width: 50px;" />
                    </td>

                    <!-- Checkbox para Fuga -->
                    <td>
                        <label>
                            <input type="checkbox" name="fuga_@item.cedula" /> Fuga
                        </label>
                        <input type="text" name="lecciones_fuga_@item.cedula" placeholder="Lecciones" style="width: 50px;" />
                    </td>

                    <!-- Acciones de edición, detalles y eliminación -->
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.cedula }) |
                        @Html.ActionLink("Details", "Details", new { id = item.cedula }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.cedula })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Botón para enviar el formulario -->
    <button type="submit" class="btn btn-primary">Enviar Resultados</button>
</form>
